/**
 * Paths
 */
/**
 * FIL Brand colours
 * Note: 1 = Darkest of palette
 */
/**
 * The Grey array
 */
/**
 * FIL Funds Network colours
 */
/**
 * FIL Charting Colours
 * Note: charting colours are named in the order they should be used
 */
/**
 * Helper / Non specific colours
 */
/**
 * Colour arrays
 */
@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../fonts/neuzeitgro/light/neuzeitgro-lig.eot");
  src: url("../fonts/neuzeitgro/light/neuzeitgro-lig.eot?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/light/neuzeitgro-lig.woff2") format("woff2"), url("../fonts/neuzeitgro/light/neuzeitgro-lig.woff") format("woff"), url("../fonts/neuzeitgro/light/neuzeitgro-lig.ttf") format("truetype"), url("../fonts/neuzeitgro/light/neuzeitgro-lig.svg#neuzeit_grotesklight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../fonts/neuzeitgro/regular/neuzeitgro-reg.eot");
  src: url("../fonts/neuzeitgro/regular/neuzeitgro-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/regular/neuzeitgro-reg.woff2") format("woff2"), url("../fonts/neuzeitgro/regular/neuzeitgro-reg.woff") format("woff"), url("../fonts/neuzeitgro/regular/neuzeitgro-reg.ttf") format("truetype"), url("../fonts/neuzeitgro/regular/neuzeitgro-reg.svg#neuzeit_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../fonts/neuzeitgro/bold/neuzeitgro-bol.eot");
  src: url("../fonts/neuzeitgro/bold/neuzeitgro-bol.eot?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/bold/neuzeitgro-bol.woff2") format("woff2"), url("../fonts/neuzeitgro/bold/neuzeitgro-bol.woff") format("woff"), url("../fonts/neuzeitgro/bold/neuzeitgro-bol.ttf") format("truetype"), url("../fonts/neuzeitgro/bold/neuzeitgro-bol.svg#neuzeit_groteskbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/**
* 1. Define colour variables
* 2. Apply colour variables to the button variables
* 3. Change sizes of buttons
*/
/**
* 1. ADD colours here
*/
/**
* 2. Paste the colour names to apply them to the buttons
*/
/**
* 3. change size of buttons in the array below.
* KEY = 'size': ( height, side-padding, font-size, font-weight ),
*/
.btn {
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease; }
  .btn:focus {
    outline: none; }

.btn-radius {
  border-radius: 4px; }

.btn-primary-orange {
  background: #ff8d31;
  color: #262626; }
  .btn-primary-orange:hover {
    background: #ffa801;
    color: #262626; }
  .btn-primary-orange:active {
    background: #d14905;
    color: #ffffff; }
  .btn-primary-orange.white {
    background: #ffffff;
    color: #262626; }
    .btn-primary-orange.white:hover {
      background: #fbcf7b;
      color: #262626; }
    .btn-primary-orange.white:active {
      background: #ffa801;
      color: #262626; }

.btn-primary-orange-gradient {
  background: #f68b0e;
  /* Fallback */
  background-image: linear-gradient(to bottom, #ffa801 25%, #ec6e1a 75%);
  background-size: 100% 200%;
  background-position: 0 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffa801', EndColorStr='#ec6e1a')";
  color: #262626; }
  .btn-primary-orange-gradient:hover {
    background: #f68b0e;
    /* Fallback */
    background-image: linear-gradient(to bottom, #ec6e1a 25%, #ffa801 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec6e1a', EndColorStr='#ffa801')";
    color: #262626; }
  .btn-primary-orange-gradient:active {
    background: #b73f03;
    /* Fallback */
    background-image: linear-gradient(to bottom, #9c3400 25%, #d14905 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9c3400', EndColorStr='#d14905')";
    color: #ffffff; }
  .btn-primary-orange-gradient.white {
    background: #fef3de;
    /* Fallback */
    background-image: linear-gradient(to bottom, #ffffff 50%, #fde7bd 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#fde7bd')";
    color: #262626; }
    .btn-primary-orange-gradient.white:hover {
      background: #fef3de;
      /* Fallback */
      background-image: linear-gradient(to bottom, #fde7bd 25%, #ffffff 50%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fde7bd', EndColorStr='#ffffff')";
      color: #262626; }
    .btn-primary-orange-gradient.white:active {
      background: #f2b161;
      /* Fallback */
      background-image: linear-gradient(to bottom, #e89346 25%, #fbcf7b 75%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e89346', EndColorStr='#fbcf7b')";
      color: #262626; }

.btn-primary-green {
  background: #86c851;
  color: #262626; }
  .btn-primary-green:hover {
    background: #a4d645;
    color: #262626; }
  .btn-primary-green:active {
    background: #3b971e;
    color: #ffffff; }
  .btn-primary-green.white {
    background: #ffffff;
    color: #262626; }
    .btn-primary-green.white:hover {
      background: #cce793;
      color: #262626; }
    .btn-primary-green.white:active {
      background: #a4d645;
      color: #262626; }

.btn-primary-green-gradient {
  background: #85bd3c;
  /* Fallback */
  background-image: linear-gradient(to bottom, #a4d645 25%, #65a432 75%);
  background-size: 100% 200%;
  background-position: 0 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a4d645', EndColorStr='#65a432')";
  color: #262626; }
  .btn-primary-green-gradient:hover {
    background: #85bd3c;
    /* Fallback */
    background-image: linear-gradient(to bottom, #65a432 25%, #a4d645 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65a432', EndColorStr='#a4d645')";
    color: #262626; }
  .btn-primary-green-gradient:active {
    background: #308216;
    /* Fallback */
    background-image: linear-gradient(to bottom, #3b971e 25%, #256d0e 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3b971e', EndColorStr='#256d0e')";
    color: #ffffff; }
  .btn-primary-green-gradient.white {
    background: #f3f9e4;
    /* Fallback */
    background-image: linear-gradient(to bottom, #ffffff 50%, #e6f3c9 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6f3c9')";
    color: #262626; }
    .btn-primary-green-gradient.white:hover {
      background: #f3f9e4;
      /* Fallback */
      background-image: linear-gradient(to bottom, #e6f3c9 25%, #ffffff 50%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6f3c9', EndColorStr='#ffffff')";
      color: #262626; }
    .btn-primary-green-gradient.white:active {
      background: #acd579;
      /* Fallback */
      background-image: linear-gradient(to bottom, #8bc35e 25%, #cce793 75%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8bc35e', EndColorStr='#cce793')";
      color: #262626; }

.btn-secondary {
  background: #016fad;
  color: #ffffff; }
  .btn-secondary:hover {
    background: #00a6e0;
    color: #262626; }
  .btn-secondary:active {
    background: #00527A;
    color: #ffffff; }
  .btn-secondary.white {
    background: #ffffff;
    color: #262626; }
    .btn-secondary.white:hover {
      background: #7eceeb;
      color: #262626; }
    .btn-secondary.white:active {
      background: #00a6e0;
      color: #262626; }

.btn-secondary-gradient {
  background: #015887;
  /* Fallback */
  background-image: linear-gradient(to bottom, #016fad 25%, #004161 75%);
  background-size: 100% 200%;
  background-position: 0 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#016fad', EndColorStr='#004161')";
  color: #ffffff; }
  .btn-secondary-gradient:hover {
    background: #015887;
    /* Fallback */
    background-image: linear-gradient(to bottom, #004161 25%, #016fad 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004161', EndColorStr='#016fad')"; }
  .btn-secondary-gradient:active {
    background: #003c5a;
    /* Fallback */
    background-image: linear-gradient(to bottom, #002639 25%, #00527a 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#002639', EndColorStr='#00527a')"; }
  .btn-secondary-gradient.white {
    background: #dff3fa;
    /* Fallback */
    background-image: linear-gradient(to bottom, #ffffff 50%, #bfe7f5 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#bfe7f5')";
    color: #262626; }
    .btn-secondary-gradient.white:hover {
      background: #dff3fa;
      /* Fallback */
      background-image: linear-gradient(to bottom, #bfe7f5 25%, #ffffff 50%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bfe7f5', EndColorStr='#ffffff')";
      color: #262626; }
    .btn-secondary-gradient.white:active {
      background: #60c5ea;
      /* Fallback */
      background-image: linear-gradient(to bottom, #44bce7 25%, #7bceed 75%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#44bce7', EndColorStr='#7bceed')";
      color: #262626; }

.btn-tertiary {
  background: #ffffff;
  color: #016fad;
  border: 2px solid #016fad; }
  .btn-tertiary:hover {
    background: #016fad;
    color: #ffffff;
    border-color: #016fad; }
  .btn-tertiary:active {
    background: #00527A;
    color: #ffffff;
    border-color: #00527A; }
  .btn-tertiary.white {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff; }
    .btn-tertiary.white:hover {
      background: #ffffff;
      color: #262626; }
    .btn-tertiary.white:active {
      background: #00a6e0;
      border-color: #00a6e0; }

.btn-tertiary-gradient {
  background: #ffffff;
  color: #016fad;
  border: 2px solid #016fad; }
  .btn-tertiary-gradient:hover {
    border-color: transparent;
    background: #015887;
    /* Fallback */
    background-image: linear-gradient(to bottom, #004161 25%, #016fad 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004161', EndColorStr='#016fad')";
    color: #ffffff; }
  .btn-tertiary-gradient:active {
    border-color: transparent;
    background: #003c5a;
    /* Fallback */
    background-image: linear-gradient(to bottom, #002639 25%, #00527a 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#002639', EndColorStr='#00527a')";
    color: #ffffff; }
  .btn-tertiary-gradient.white {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff; }
    .btn-tertiary-gradient.white:hover {
      background: #dff3fa;
      /* Fallback */
      background-image: linear-gradient(to bottom, #bfe7f5 25%, #ffffff 50%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bfe7f5', EndColorStr='#ffffff')";
      color: #262626;
      border-color: transparent; }
    .btn-tertiary-gradient.white:active {
      background: #60c5ea;
      /* Fallback */
      background-image: linear-gradient(to bottom, #44bce7 25%, #7bceed 75%);
      background-size: 100% 200%;
      background-position: 0 50%;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#44bce7', EndColorStr='#7bceed')";
      color: #262626;
      border-color: transparent; }

.btn-sm {
  line-height: 1;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: normal; }

.btn-md {
  line-height: 1;
  padding: 13px 22px;
  font-size: 18px;
  font-weight: normal; }

.btn-lg {
  line-height: 1;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: normal; }

.btn-xl {
  line-height: 1;
  padding: 20px 38px;
  font-size: 24px;
  font-weight: normal; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.btn {
  font-family: "neuzeit_grotesk", Arial, Helvetica, sans-serif; }

.btn-wrapper {
  float: left;
  max-width: 360px;
  margin: 0 24px; }
  .btn-wrapper .btn {
    float: left;
    margin: 24px 0; }

.bg-dark {
  background: #262626; }
