/**
* 1. Define colour variables
* 2. Apply colour variables to the button variables
* 3. Change sizes of buttons
*/


// Colours
/**
* 1. ADD colours to try out here
*/

$white: #ffffff;
$dark: #262626;


$orange-normal: #ff8d31;
$orange-hover: #ffa801;
$orange-active: #d14905;

$orange-gradient-normal-top: #ffa801;
$orange-gradient-normal-bottom: #ec6e1a;
$orange-gradient-hover-top: $orange-gradient-normal-bottom;
$orange-gradient-hover-bottom: $orange-gradient-normal-top;
$orange-gradient-active-top: #9c3400;
$orange-gradient-active-bottom: #d14905;


$green-normal: #86c851;
$green-hover: #a4d645;
$green-active: #3b971e;

$green-gradient-normal-top: #a4d645;
$green-gradient-normal-bottom: #65a432;
$green-gradient-hover-top: $green-gradient-normal-bottom;
$green-gradient-hover-bottom: $green-gradient-normal-top;
$green-gradient-active-top: #3b971e;
$green-gradient-active-bottom: #256d0e;


$blue-normal: #016fad;
$blue-hover: #00a6e0;
$blue-active: #00527A;

$blue-gradient-normal-top: #016fad;
$blue-gradient-normal-bottom: #004161;
$blue-gradient-hover-top: $blue-gradient-normal-bottom;
$blue-gradient-hover-bottom: $blue-gradient-normal-top;
$blue-gradient-active-top: #002639;
$blue-gradient-active-bottom: #00527a;


$btn-border-width: 2;
$btn-border-radius: 4;


/**
* 2. Paste the colour names to apply them to the buttons
*/

// Primary Orange

$btn-primary-bg-normal:      $orange-normal;
$btn-primary-txt-normal:     $dark;

$btn-primary-bg-hover:       $orange-hover;
$btn-primary-txt-hover:      $dark;

$btn-primary-bg-active:      $orange-active;
$btn-primary-txt-active:     $white;


// Primary Green

$btn-primary2-bg-normal:      $green-normal;
$btn-primary2-txt-normal:     $dark;

$btn-primary2-bg-hover:       $green-hover;
$btn-primary2-txt-hover:      $dark;

$btn-primary2-bg-active:      $green-active;
$btn-primary2-txt-active:     $white;


// Secondary

$btn-secondary-bg-normal:    $blue-normal;
$btn-secondary-txt-normal:   $white;

$btn-secondary-bg-hover:     $blue-hover;
$btn-secondary-txt-hover:    $dark;

$btn-secondary-bg-active:    $blue-active;
$btn-secondary-txt-active:   $white;


// Tertiary

$btn-tertiary-bg-normal:     $white;
$btn-tertiary-txt-normal:    $blue-normal;

$btn-tertiary-bg-hover:      $blue-normal;
$btn-tertiary-txt-hover:     $white;

$btn-tertiary-bg-active:     $blue-active;
$btn-tertiary-txt-active:    $white;



/**
* 3. change size of buttons in the array below.
* KEY = 'size': ( height, side-padding, font-size, font-weight ),
*/

$btn-sizes : (

        'sm': ( 32, 16, 16, normal ),
        'md': ( 48, 24, 18, normal ),
        'lg': ( 60, 32, 20, normal ),
        'xl': ( 68, 40, 24, normal ),

);

.btn {
    display: inline-block;
    position: relative;
    border: #{$btn-border-width}px solid transparent;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    appearance: none;
    transition: background 0.2s ease, color 0.2s ease;

    &:focus {
        outline: none;
    }
}

.btn-radius {
    border-radius: #{$btn-border-radius}px;
}

.btn-primary{
        background: $btn-primary-bg-normal;
        color: $btn-primary-txt-normal;
        &:hover {
            background: $btn-primary-bg-hover;
            color: $btn-primary-txt-hover;
        }
        &:active {
            background: $btn-primary-bg-active;
            color: $btn-primary-txt-active;
        }
}

.btn-primary-gradient {
        @include gradient($orange-gradient-normal-top, $orange-gradient-normal-bottom);
        color: $btn-primary-txt-normal;
        &:hover {
            @include gradient($orange-gradient-hover-top, $orange-gradient-hover-bottom);
            color: $btn-primary-txt-hover;
        }
        &:active {
            @include gradient($orange-gradient-active-top, $orange-gradient-active-bottom);
            color: $btn-primary-txt-active;
        }
}


.btn-primary2 {
        background: $btn-primary2-bg-normal;
        color: $btn-primary2-txt-normal;
        &:hover {
            background: $btn-primary2-bg-hover;
            color: $btn-primary2-txt-hover;
        }
        &:active {
            background: $btn-primary2-bg-active;
            color: $btn-primary2-txt-active;
        }
}

.btn-primary2-gradient {
        @include gradient($green-gradient-normal-top, $green-gradient-normal-bottom);
        color: $btn-primary-txt-normal;
        &:hover {
            @include gradient($green-gradient-hover-top, $green-gradient-hover-bottom);
            color: $btn-primary-txt-hover;
        }
        &:active {
            @include gradient($green-gradient-active-top, $green-gradient-active-bottom);
            color: $btn-primary-txt-active;
        }
}

.btn-secondary {
        background: $btn-secondary-bg-normal;
        color: $btn-secondary-txt-normal;
        &:hover {
            background: $btn-secondary-bg-hover;
            color: $btn-secondary-txt-hover;
        }
        &:active {
            background: $btn-secondary-bg-active;
            color: $btn-secondary-txt-active;
        }
}

.btn-secondary-gradient {
        @include gradient($blue-gradient-normal-top, $blue-gradient-normal-bottom);
        color: $btn-secondary-txt-normal;
        &:hover {
            @include gradient($blue-gradient-hover-top, $blue-gradient-hover-bottom);
        //     color: $btn-secondary-txt-hover;
        }
        &:active {
            @include gradient($blue-gradient-active-top, $blue-gradient-active-bottom);
        //     color: $btn-secondary-txt-active;
        }
}

.btn-tertiary {
        background: $btn-tertiary-bg-normal;
        color: $btn-tertiary-txt-normal;
        border: #{$btn-border-width}px solid $btn-tertiary-txt-normal;
        &:hover {
            background: $btn-tertiary-bg-hover;
            color: $btn-tertiary-txt-hover;
            border-color: $btn-tertiary-bg-hover;
        }
        &:active {
            background: $btn-tertiary-bg-active;
            color: $btn-tertiary-txt-active;
            border-color: $btn-tertiary-bg-active;
        }
}


.btn-tertiary-gradient {
        background: $btn-tertiary-bg-normal;
        color: $btn-tertiary-txt-normal;
        border: #{$btn-border-width}px solid $btn-tertiary-txt-normal;
        &:hover {
            border-color: transparent;
            @include gradient($blue-gradient-hover-top, $blue-gradient-hover-bottom);
            color: $btn-tertiary-txt-hover;
        }
        &:active {
                border-color: transparent;
            @include gradient($blue-gradient-active-top, $blue-gradient-active-bottom);
            color: $btn-tertiary-txt-active;
        }
}

@each $size, $size-spec in $btn-sizes {

    $height: nth( $size-spec, 1 );
    $side-padding: nth( $size-spec, 2 ) - $btn-border-width;
    $font-size: nth( $size-spec, 3 );
    $font-weight: nth( $size-spec, 4 );
    $vertical-padding: ( $height - ($btn-border-width*2) - $font-size )/2 ;

    .btn-#{ $size } {
        // height: #{$height}px;
        // line-height: $height - ($btn-border-width*2);
        line-height: 1;
        padding: #{$vertical-padding}px #{$side-padding}px;
        font-size: #{$font-size}px;
        font-weight: $font-weight;
    }

}
