/**
* 1. Define colour variables
* 2. Apply colour variables to the button variables
* 3. Change sizes of buttons
*/


// Colours
/**
* 1. ADD colours to try out here
*/

$white: #ffffff;
$red-base: #b72f2a;
$blue-base: #016fad;


$btn-border-width: 2px;
$btn-border-radius: 6px;


/**
* 2. Paste the colour names to apply them to the buttons
*/

// Primary

$btn-primary-bg-normal:      $red-base;
$btn-primary-txt-normal:     $white;

$btn-primary-bg-hover:       $red-base;
$btn-primary-txt-hover:      $white;

$btn-primary-bg-active:      $red-base;
$btn-primary-txt-active:     $white;


// Secondary

$btn-secondary-bg-normal:    $blue-base;
$btn-secondary-txt-normal:   $white;

$btn-secondary-bg-hover:     $blue-base;
$btn-secondary-txt-hover:    $white;

$btn-secondary-bg-active:    $blue-base;
$btn-secondary-txt-active:   $white;


// Tertiary

$btn-tertiary-bg-normal:     $white;
$btn-tertiary-txt-normal:    $blue-base;

$btn-tertiary-bg-hover:      $blue-base;
$btn-tertiary-txt-hover:     $white;

$btn-tertiary-bg-active:     $blue-base;
$btn-tertiary-txt-active:    $white;



/**
* 3. change size of buttons in the array below.
* KEY = 'size': ( height, side-padding, font-size, font-weight ),
*/

$btn-sizes : (

        'sm': ( 32, 16, 16, normal ),
        'md': ( 48, 24, 18, normal ),
        'lg': ( 60, 32, 20, normal ),
        'xl': ( 68, 40, 24, normal ),

);

.btn {
    display: inline-block;
    position: relative;
    border: $btn-border-width solid transparent;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    appearance: none;
    transition: background 0.2s ease, color 0.2s ease;

    &:focus {
        outline: none;
    }
}

.btn-radius {
    border-radius: $btn-border-radius;
}

.btn-primary {
        background: $btn-primary-bg-normal;
        color: $btn-primary-txt-normal;
        &:hover {
            background: $btn-primary-bg-hover;
            color: $btn-primary-txt-hover;
        }
        &:active {
            background: $btn-primary-bg-active;
            color: $btn-primary-txt-active;
        }
}

.btn-secondary {
        background: $btn-secondary-bg-normal;
        color: $btn-secondary-txt-normal;
        &:hover {
            background: $btn-secondary-bg-hover;
            color: $btn-secondary-txt-hover;
        }
        &:active {
            background: $btn-secondary-bg-active;
            color: $btn-secondary-txt-active;
        }
}


.btn-tertiary {
        background: $btn-tertiary-bg-normal;
        color: $btn-tertiary-txt-normal;
        border: $btn-border-width solid $btn-tertiary-txt-normal;
        &:hover {
            background: $btn-tertiary-bg-hover;
            color: $btn-tertiary-txt-hover;
            border-color: $btn-tertiary-bg-hover;
        }
        &:active {
            background: $btn-tertiary-bg-hover;
            color: $btn-tertiary-txt-hover;
            border-color: $btn-tertiary-bg-hover;
        }
}

@each $size, $size-spec in $btn-sizes {

    $height: nth( $size-spec, 1 );
    $side-padding: nth( $size-spec, 2 );
    $font-size: nth( $size-spec, 3 );
    $font-weight: nth( $size-spec, 4 );

    .btn-#{ $size } {
        height: #{$height}px;
        line-height: $height - ($btn-border-width*2);
        padding: 0 #{$side-padding}px;
        font-size: #{$font-size}px;
        font-weight: $font-weight;
    }

}
