@mixin gradient($from-color, $to-color) {
    background: mix($from-color, $to-color); /* Fallback */
    background-image: linear-gradient(to bottom, $from-color 25%, $to-color 75%);
    background-size: 100% 200%;
    background-position: 0 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
