{% extends "layouts/main.html" %}

{% block content %}


<div class="cf">

    <div class="btn-wrapper">
        <button class="btn  btn-sm  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-md  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-lg  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-xl  btn-primary-orange">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-sm  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-md  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-lg  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-xl  btn-primary-green">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-sm  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-md  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-lg  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-xl  btn-secondary">Find out more about SIPPs</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-sm  btn-tertiary">Explore other products</button>
        <button class="btn  btn-md  btn-tertiary">Explore other products</button>
        <button class="btn  btn-lg  btn-tertiary">Explore other products</button>
        <button class="btn  btn-xl  btn-tertiary">Explore other products</button>
    </div>

</div>

<div class="cf">

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-md  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-lg  btn-primary-orange">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-xl  btn-primary-orange">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-md  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-lg  btn-primary-green">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-xl  btn-primary-green">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-md  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-lg  btn-secondary">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-xl  btn-secondary">Find out more about SIPPs</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-tertiary">Explore other products</button>
        <button class="btn  btn-radius  btn-md  btn-tertiary">Explore other products</button>
        <button class="btn  btn-radius  btn-lg  btn-tertiary">Explore other products</button>
        <button class="btn  btn-radius  btn-xl  btn-tertiary">Explore other products</button>
    </div>

</div>

<div class="cf">

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-primary-orange-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-md  btn-primary-orange-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-lg  btn-primary-orange-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-xl  btn-primary-orange-gradient">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-primary-green-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-md  btn-primary-green-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-lg  btn-primary-green-gradient">Open a Fidelity SIPP</button>
        <button class="btn  btn-radius  btn-xl  btn-primary-green-gradient">Open a Fidelity SIPP</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-secondary-gradient">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-md  btn-secondary-gradient">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-lg  btn-secondary-gradient">Find out more about SIPPs</button>
        <button class="btn  btn-radius  btn-xl  btn-secondary-gradient">Find out more about SIPPs</button>
    </div>

    <div class="btn-wrapper">
        <button class="btn  btn-radius  btn-sm  btn-tertiary-gradient">Explore other products</button>
        <button class="btn  btn-radius  btn-md  btn-tertiary-gradient">Explore other products</button>
        <button class="btn  btn-radius  btn-lg  btn-tertiary-gradient">Explore other products</button>
        <button class="btn  btn-radius  btn-xl  btn-tertiary-gradient">Explore other products</button>
    </div>

</div>


{% endblock %}
